SASLPrep in sasl-plugin and sasl-delegation

The RFCs for both PLAIN and SCRAM flavours of SASL ([RFC 5082](https://tools.ietf.org/html/rfc5802) and [RFC 4616](https://tools.ietf.org/html/rfc4616)) both advise the SASLPrep algorithm ([RFC 4013](https://tools.ietf.org/html/rfc4013)) be applied to usernames and passwords. 

Doing this is sasl-delegation is simple enough, however there is a problem with honouring this in the keycloak/sasl-plugin component. We ought to look up the credentials in the user database using the SASLPrep-ed username as the key, but the plugin doesn't control how the lookup is keyed -- Keycloak does. In practice this might not be an issue, because it's possible Keycloak imposes some sanity checks of its own (perhaps even compatible with SASLPrep), but we should check.

So [this](https://github.com/keycloak/keycloak/blob/master/model/jpa/src/main/java/org/keycloak/models/jpa/UserAdapter.java#L78-L82) code
```
    @Override
    public void setUsername(String username) {
        username = KeycloakModelUtils.toLowerCaseSafe(username);
        user.setUsername(username);
    }
```

Would seem to suggest that KeyCloak may just decide to store the username in "lowercase" (current default locale dependent)... which is an interesting choice